<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/">
      Word to be Latinized:<input type="text" name="word" id="word"><br>
      <input type="submit" id="submit">
    </form>
  </body>
</html>